{{ define "admin_navbar"}}
<nav class="bg-gray-800 text-white shadow-md mb-6">
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center gap-8">
                <span class="text-xl font-bold tracking-wider text-indigo-400">ADMIN PANEL</span>
                
                <div class="flex space-x-4">
                    <a href="/admin/dashboard" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition">
                        Заказы
                    </a>
                    <a href="/admin/products" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition">
                        Товары
                    </a>
                    <a href="/admin/categories" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition">
                        Категории
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}