{{ define "product" }}
<div id="product-modal" class="product-modal">
    <div class="product-modal-content">
        <span class="product-close">&times;</span>

        <div class="modal-layout">
            <div class="modal-left">
                <div class="modal-main-container">
                    <img
                        class="modal-main-image"
                        id="main-image"
                        src=""
                        alt="Product"
                    >
                </div>

                <div class="modal-thumbnails"></div>
            </div>

            <div class="modal-right">
                <h2 id="modal-title"></h2>

                <div
                    class="description-text"
                    id="description"
                ></div>

                <div
                    class="characteristics-text"
                    id="characteristics"
                ></div>

                <select
                    id="volume-select"
                    class="volume-select"
                ></select>

                <button
                    class="product_button"
                    id="submit"
                    type="button"
                >
                    Добавить в корзину
                </button>
            </div>
        </div>
    </div>
</div>

{{ end }}
